
.clients {
  background-color: #012f34;
  position: relative;

}

.clients::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-image: url("../../assets/images/partners-section-mobile-position.png");
  background-repeat: no-repeat;
}

.clients-inner {
  padding-block: 88px;
  text-align: center;
  color: #fff;
}

.clients-title {
  margin-block: 0 56px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;

}

.clients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.clients-item:first-child {
  width: 146px;
}

.clients-item:nth-child(2) {
  width: 162px;
}

.clients-item:nth-child(3) {
  width: 159px;
}

.clients-item:nth-child(4) {
  width: 146px;
}

.clients-item:last-child {
  width: 87px;
}
