@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/livvic0regular.woff2") format("woff2");
}
/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../assets/fonts/livic-600.woff2") format("woff2");
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/livvic-700.woff2") format("woff2");
}